*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background: var(--color-bg-canvas);
  color: var(--color-text-primary);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
